
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

header,
footer{

  max-width: 800px;
  margin: 0 auto;
  padding: 1rem;
}


html,
body {
  background-color: #dddddd;
  margin-top: 1rem;
  font-family: Helvetica, Arial, sans-serif;
  font-size: 18px;
}

main {
  max-width: 800px;
  margin: 0 auto;
  padding: 1rem;
}


hr {
  max-width: 600px;
}



.wrapper {
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  width: 100%;
}

ul {
  list-style: none;
}
